"*":
  core:
    telemetryConsent: "limited"
  editor:
    fontSize: 12
  "exception-reporting":
    userId: "f6d8e759-6ac3-491d-9942-a2b7d31dfdc0"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome: {}
